.env.production
__pycache__/
*.py[cod]
*$py.class
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.egg-info/
dist/
build/
*.DS_Store
*.env
.env.local
*.local
*.bak
*.swp
*.swo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
Pipfile.lock
